.subheading{
    display: flex;
    justify-content: space-between;
}

.subheading__tittle{
    margin: 0 20px;
}

.subheading__button{
    margin: 0 20px;
}


.main__contents{
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 100%;
}




.products__card{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.products__card__link{
    text-decoration: none;
    color: black;
}


.products__card__image{
    width: 374px;
    height: 350px;
    opacity: 1;
    border-radius: 5px;
    background-size: auto;
}
.products__card__contents {
    display: flex;
    justify-content: space-between;
    width: 374px;
    height: 69px;
}

.products__card__inner{
margin: 0 20px;


}
.products__card__price{

}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.sidebar{
    margin-left: 20px;
    margin-right: 20px;
}

.search__reorder:has(option:checked[value=""]) {
    color: gray;
}

.search__reorder__tag{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 20%;


.search__reorder__button{
    height: 50%;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;

}
