.products__main{
    display: flex;
    justify-content: center;
}

.products__contents{
    margin-left: 100px;
}

.products__card__image {
    width: 374px;
    height: 350px;
    opacity: 1;
    border-radius: 5px;
    background-size: auto;
}

.products__card__contents {
    display: flex;
    justify-content: space-between;
    width: 374px;
    height: 69px;
}

.products__card__inner {
    margin: 0 20px;
}

.products__description{
    width: 600px;
    height: 200px;
    margin: 0 auto;
}

.products__description__inner{
    width: 100%;
    height: 70%;
    margin-top: 10px;
}

.error-alert{
    color: red;
}

.submit__button{
    display: flex;
    justify-content: center;
}

.submit__button{
    align-items: center;
}

.submit__button__back{
    border: none;
    margin-left: 50px;
    width: 150px;
    border-radius: 5px;
}

.submit__button__update{
    background-color: #F5C800;
    border: none;
    margin-right: 30px;
    width: 150px;
    border-radius: 5px;
}

.product__card__delete{
    border: none;
    background: none;
    padding: 0;
    margin-left: 100px;

}

.breadcrumb{
    display: flex;
}

.breadcrumb-item__link{
    text-decoration: none;
}

.products__name, .products__price, .products__season{
    margin-bottom: 20px;
}
